# Establishing the Data

### Glimpse of the data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv")
df.head()

,tech_company,benefits,workplace_resources,mh_employer_discussion,mh_coworker_discussion,medical_coverage,mental_health,mh_share,age,gender,country
0,Yes,No,I don't know,No,Yes,Yes,Possibly,5,27.0,Female,United Kingdom
1,Yes,Yes,No,No,Yes,Yes,Possibly,4,31.0,Male,United Kingdom
2,Yes,I don't know,No,Yes,Yes,No,Yes,5,36.0,Male,United States of America
3,Yes,Yes,I don't know,Yes,Yes,Yes,Yes,10,22.0,Male,United States of America
4,Yes,Yes,No,No,Yes,Yes,Yes,8,36.0,Female,United States of America

### How to get the data

This data can be obtained from Mendeley Data's website: https://data.mendeley.com/datasets/mmnzx4w8cg/1.

### Background information

This data was produced by Open Sourcing Mental Illness (OSMI). From 2017 to 2021, OSMI asked a series of questions to individuals specifically in the technology industry. The questionnaire is given below in the order of the columns in the data table: 

- Is your employer primarily a tech company/organization?
- Does your employer provide mental health benefits as part of healthcare coverage?
- Does your employer offer resources to learn more about mental health disorders and options for seeking help?
- Have you ever discussed your mental health with your employer?
- Have you ever discussed your mental health with coworkers?
- Do you have medical coverage (private insurance or state-provided) that includes treatment of mental health disorders?
- Do you currently have a mental health disorder?
- How willing would you be to share with friends and family that you have a mental illness?
- What is your age?
- What is your gender?
- What country do you live in?

### Column information

In [4]:
COLS = pd.DataFrame(index=df.columns)
COLS.index.name = 'columns'
COLS['n_unique'] = df.nunique()
COLS['dtypes'] = df.dtypes

In [5]:
COLS

                        n_unique   dtypes
columns
tech_company                   2   object
benefits                       3   object
workplace_resources            3   object
mh_employer_discussion         2   object
mh_coworker_discussion         2   object
medical_coverage               2   object
mental_health                  4   object
mh_share                      11    int64
age                           49  float64
gender                         3   object
country                       30   object